.vscode
__pycache__
.idea
dist
build
*.pyc
output
catboost_info
train_history
*.csv
*.pth
*.gz
*.tar
*.zip
*.png
data/**
pyrightconfig.json
*.sublime-project
*.sublime-workspace
.DS_Store
log
doc/html
